//
//  Config.xcconfig
//  CitySights App
//
//  Created by Lesley Lopez on 8/8/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


API_KEY = ESDZnYcRb9qBrE-jo3cgLh6gDYzon9IU0U6vIZ1h7mrBhHGGoQRcM7vfvSoVrE6ZxX0CDYTQ1BB88qyDIwb1tfsfkWZ_8DLhPcg4W130oNIZWnpPCs3XepTMebGOZnYx
